
  <!--Footer-->
  <footer class="m-0">
    <div class="container-fluid padding">
      <div class="row text-center">

        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-xs-12 mb-3">
          <hr class="light">
          <h5>E-Shopping</h5>
          <hr class="light">
          <p>Contact with us! </p>
          <a href="#"><i class="fa fa-map-marker" aria-hidden="true"></i>Address</a>
          <p>1301 Regents Park Dr Ste 203
            Houston, <br> TX, 77058-2536 United States</p>
          <a href="#"><i class="fa fa-phone" aria-hidden="true"></i> (281) 645-6907</a>
          <div class="row d-flex justify-content-center">
            <div class="col d-flex justify-content-center my-5 pt-1">
              <a href="https://www.facebook.com/"><i class="fab fa-facebook-f fa-lg white-text mx-3 mx-md-4 fa-2x">
                </i></a>
              <a href=""> <i class="fab fa-twitter fa-lg white-text mx-3 mx-md-4 fa-2x"> </i></a>
              <a href=""><i class="fab fa-google-plus-g fa-lg white-text mx-3 mx-md-4 fa-2x"> </i></a>
              <a href="https://www.instagram.com/"><i class="fab fa-instagram fa-lg white-text mx-3 mx-md-4 fa-2x">
                </i></a>
            </div>
          </div>

        </div>

        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-xs-12 mb-3">

          <hr class="light">
          <h5>My Account</h5>
          <hr class="light">
          <p>Wishlist</p>
          <p>Cart</p>
          <p>Profile</p>
          <p>Address book</p>


        </div>


        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-xs-12 mb-3">

          <hr class="light">
          <h5>Payment Methods</h5>

          <hr class="light">
          <p>We accept these payment methods</p>
          <div class="pull-right">
            <img class="pull-right" src="https://img.icons8.com/officel/40/000000/mastercard.png">
            <img class="pull-right" src="https://img.icons8.com/color/40/000000/visa.png">
            <img class="pull-right" src="https://img.icons8.com/ios-glyphs/2x/apple-pay.png">
            <img class="pull-right" src="/../../assets/paypal.png">
          </div>
          <form class="form-footer my-3">
            <input type="text" placeholder="email here...." name="search">
            <input type="button" value="Go">
          </form>

        </div>

      </div>

    </div>

  </footer>
  <div class="footer-copyright text-center py-3">© 2020 All Rights Reserved</div>

  <!--Footer end-->