<app-header></app-header>

<div class="container padding-bottom-3x mb-2">
    <div class="row">
        <div class="col-lg-4">
            <aside class="user-info-wrapper">
                <div class="user-cover" style="background-image: url(https://bootdey.com/img/Content/bg1.jpg);">
                </div>
                <div class="user-info">
                    <div class="user-avatar">
                        <a class="edit-avatar" href="#"></a><img src="/../../assets/homecards/tp1.jpg" alt="User">
                    </div>
                    <div class="user-data">
                        <h4>Hello Janitha</h4>
                    </div>
                </div>
            </aside>
            <nav class="list-group">

                <a class="list-group-item" href="account-overview"><i class="fa fa-user"></i> Profile</a>
                <a class="list-group-item with-badge" href="my-orders"><i class=" fa fa-th"></i> Orders<span
                        class="badge badge-primary badge-pill"></span></a>
                <a class="list-group-item" href="address-book"><i class="fa fa-map"></i> Addresses Book</a>
                <a class="list-group-item with-badge active" href="wishlist"><i class="fa fa-heart"></i> Wishlist<span
                        class="badge badge-primary badge-pill"></span></a>
                <a class="list-group-item with-badge" href="#"><i class="fa fa-tag"></i> Logout<span
                        class="badge badge-primary badge-pill"></span></a>
            </nav>
        </div>
        <div class="col-lg-8">
            <div class="padding-top-2x mt-2 hidden-lg-up"></div>
            <!-- Wishlist Table-->
            <div class="table-responsive wishlist-table margin-bottom-none">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Address Book</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>

                            <td class="text-center"><a class="remove-from-cart" href="#" data-toggle="tooltip" title=""
                                    data-original-title="Remove item"><i class="icon-cross"></i></a></td>
                        </tr>
                        <tr>
                            <div class="container sCantainerStyle">

                                <div class="row">

                                    <table class="sTableStyle">

                                        <a class="btn btn-outline-dark" href="add-address">Add New Address From
                                            Here</a>
                                        <br><br>
                                        <div class="card bg-light mb-3" style="width: 10Cm">

                                            <div class="card-header">Default Address</div>
                                            <div class="card-body">
                                                <form>
                                                    <div class="form-group">
                                                        <label for="address 1">Address 1</label>
                                                        <input type="address 1" class="form-control" id="address 1"
                                                            placeholder="">
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="address 2">Address 2</label>
                                                        <input type="address 2" class="form-control" id="address 2"
                                                            placeholder="">
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="city">City</label>
                                                        <input type="city" class="form-control" id="city"
                                                            placeholder="">
                                                    </div>

                                                    <div class="form-group">
                                                        <label for="province">Province</label>
                                                        <input type="province" class="form-control" id="province"
                                                            placeholder="">
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="country">Country</label>
                                                        <input type="country" class="form-control" id="country"
                                                            placeholder="">
                                                    </div>

                                                    <div class="form-group">
                                                        <label for="zip">Zip</label>
                                                        <input type="zip" class="form-control" id="zip" placeholder="">
                                                    </div>

                                                    <div class="form-group">
                                                        <label for="PhoneNumber">Phone Number</label>
                                                        <input type="PhoneNumber" class="form-control" id="PhoneNumber"
                                                            placeholder="">
                                                    </div>
                                                </form>


                                                <!-- Button trigger modal -->
                                                <button type="button" class="btn btn-outline-dark" data-toggle="modal"
                                                    data-target="#exampleModal">
                                                    Save Changes
                                                </button>

                                            </div>
                                        </div>

                                    </table>
                                </div>
                            </div>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>