<app-header></app-header>

<div class="container padding-bottom-3x mb-2">
    <div class="row">
        <div class="col-lg-4">
            <aside class="user-info-wrapper">
                <div class="user-cover" style="background-image: url(https://bootdey.com/img/Content/bg1.jpg);">

                </div>
                <div class="user-info">
                    <div class="user-avatar">
                        <a class="edit-avatar" href="#"></a><img src="/../../assets/homecards/tp1.jpg" alt="User">
                    </div>
                    <div class="user-data">
                        <h4>Hello Janitha</h4>
                    </div>
                </div>
            </aside>
            <nav class="list-group">

                <a class="list-group-item" href="account-overview"><i class="fa fa-user"></i> Profile</a>
                <a class="list-group-item with-badge" href="my-orders"><i class=" fa fa-th"></i> Orders<span
                        class="badge badge-primary badge-pill"></span></a>
                <a class="list-group-item" href="address-book"><i class="fa fa-map"></i> Addresses Book</a>
                <a class="list-group-item with-badge active" href="wishlist"><i class="fa fa-heart"></i> Wishlist<span
                        class="badge badge-primary badge-pill"></span></a>
                <a class="list-group-item with-badge" href="#"><i class="fa fa-tag"></i> Logout<span
                        class="badge badge-primary badge-pill"></span></a>
            </nav>