/* product Grid */
h2 {
    color: #000;
    font-size: 26px;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
    position: relative;
    margin: 5px 0 80px;
}

h2 b {
    color: #ffc000;
}

h2:after {
    content: "";
    width: 100px;
    position: absolute;
    margin: 0 auto;
    height: 4px;
    background: rgba(0, 0, 0, 0.2);
    left: 0;
    right: 0;
     bottom: -10px;
   
} 

.buy-btn{
	width:160px;
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #FFFFFF;
	color:#252525;
	font-weight: 700;
	letter-spacing: 1px;
	font-family: calibri;
	border-radius: 20px;
	box-shadow: 2px 2px 30px rgba(0,0,0,0.2);
}
.buy-btn:hover{
    color:#FFFFFF;
    background-color:  rgba(255, 71, 80, 0.722);
    transition: all ease 0.3s;
}

/* .overlay{
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	width:100%;
	height: 100%;
	background-color: rgba(15, 47, 95, 0.359);
	display: flex;
	justify-content: center;
	align-items: center;
} */
/* .overlay{
	visibility: hidden;
} */
.slide-img:hover .overlay{
	visibility: visible;
	animation:fade 0.5s;
}

 
@keyframes fade{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
.slider{
    width:100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn{
    background-color:  #183757de;; 
} 

.card-title{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.row {
    background-color: rgba(195, 208, 212, 0.482);;
}

.card{
    /* background-color: rgba(58, 66, 60, 0.235); */
    background-color: rgba(250, 253, 253, 0.509)
}
