<div class="card p-0 " ><!--start of card-->
    
    <div class="row m-0 p-0" ><!--start of row 2-->

    <article class="filter-group1 col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 p-0" >

        <header class="card-header justify-content-between" > 

            <h6 class="title">Filter<button class="btn1 ml-4">clear</button>  </h6>

            

         </header> 

    </article>

   

    <article class="filter-group col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 p-0" >

        <header class="card-header"  id="header2"> 
          <a href="#" data-toggle="collapse" data-target="#collapse_aside2" data-abc="true" aria-expanded="false" class="collapsed"> <i class="icon-control fa fa-chevron-down"></i>
                <h6 class="title">Price </h6>
            </a> 
          
          </header>

        <div class="filter-content collapse" id="collapse_aside2" >

            <div class="card-body">
               <input type="range" class="custom-range" min="0" max="100" name="">

                <div class="form-row">

                    <div class="form-group col-md-6"> 
                      <label>Min</label> 
                      <input class="form-control" placeholder="$0" type="number"> 
                    </div>

                    <div class="form-group text-right col-md-6"> 

                      <label>Max</label> 
                      <input class="form-control" placeholder="$1,0000" type="number"> 

                    </div>

                </div> 

                <a href="#" class="highlight-button btn btn-medium button xs-margin-bottom-five" data-abc="true">Apply Now</a>

            </div>

        </div>

    </article>


    <article class="filter-group col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 p-0" >

        <header class="card-header"  id="header2"> 

          <a href="#" data-toggle="collapse" data-target="#collapse_aside3" data-abc="true" aria-expanded="false" class="collapsed"> <i class="icon-control fa fa-chevron-down"></i>
                <h6 class="title">Size </h6>
            </a> 

          </header>

        <div class="filter-content collapse" id="collapse_aside3" >

            <div class="card-body"> 

                <label class="checkbox-btn"> <input type="checkbox"> <span class="btn btn-light"> SM </span> </label>
                <label class="checkbox-btn"> <input type="checkbox"> <span class="btn btn-light"> MD </span> </label> 
                <label class="checkbox-btn"> <input type="checkbox"> <span class="btn btn-light"> LG </span> </label> 
                <label class="checkbox-btn"> <input type="checkbox"> <span class="btn btn-light"> XL </span> </label> 

            </div>

        </div>

    </article>

    <article class="filter-group col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 p-0" >

        <header class="card-header"  id="header2"> 

          <a href="#" data-toggle="collapse" data-target="#collapse_aside4" data-abc="true" class="collapsed" aria-expanded="false"> <i class="icon-control fa fa-chevron-down"></i>
               
            <h6 class="title">Color </h6>

            </a> 
          
          </header>
       
    </article>


    <article class="filter-group col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 p-0" >

      <header class="card-header"  id="header2"> 
        <a href="#" data-toggle="collapse" data-target="#collapse_aside1" data-abc="true" aria-expanded="false" class="collapsed"> <i class="icon-control fa fa-chevron-down"></i>   

           <h6 class="title">Sort by</h6> 

          </a> 

        </header> 

      <div class="filter-content collapse" id="collapse_aside1" >

           <div class="card-body"> 

              <select class="custom-control1">
                  <option><a href="#" data-abc="true" >Price low to high</a></option>
                  <option><a href="#" data-abc="true">Price high to low</a></option>
              </select>

          </div> 

      </div>

  </article>








  </div><!--end of row 2-->

</div><!--end of card-->







          








